.order {
  flex: 1;
  min-width: 280px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  background-color:var(--form-background);
  height: fit-content;
}

.order__title {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--text-color)
}

.order__total {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 15px;
  text-align: right;
}

.order__items {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 14px;
  color: var(--text-color)
}

.order__item {
  padding: 2px 0;
}

.order__button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 0;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.order__button:hover {
  background-color: #0056b3;
}