.header__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 20%;
  background-color: #001f3f;
  color: white;
}

.logo {
  margin-right: 2rem;
  width: 3rem;
  height: 2.7rem;
}

.logo__nombre {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.logo__nombre span {
  font-size: 2.3rem;
  font-weight: bold;
}
