.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--form-background);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__logo-image {
  width: 40px;
  height: auto;
}

.header__logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__actions button {
  margin-top: 0.3rem;
}

.header__theme-toggle {
  color: var(--text-color);
  padding: 0.5rem;
  all: unset;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__theme-toggle:hover {
  background-color: var(--button-hover);
  color: var(--hover-toggledarkmode);
}

.header__theme-toggle .material-symbols-outlined {
  font-size: 24px;
}

.header__cart {
  width: 30px;
  height: auto;
  cursor: pointer;
}

/* Modifiers */
.header--light {
  background-color: var(--form-background);
}

.header--dark {
  background-color: var(--form-background);
}

.header__cart-wrapper {
  position: relative;
}

