.order-summary {
  flex: 1;
  min-width: 280px;
  border: 1px solid var(--input-border);
  padding: 20px;
  border-radius: 8px;
  background-color: var(--form-background);
  height: fit-content;
}

.order-summary h2{
   font-size: 20px;
  margin-bottom: 15px;
  color: var(--text-color);
  text-align: center;
}

.order-summary__product-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-summary__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-summary__item-name,
.order-summary__item-price {
  font-size: 14px;
  color: var(--text-color);
}

.order-summary__item-price {
  text-align: right;
}

.order-summary__row--total .order-summary__item-price {
  font-weight: bold;
  color: var(--link-color);
}

.order-summary__select {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--input-border);
  background-color: var(--form-background);
  color: var(--text-color);
  font-size: 14px;
}
