.product_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}